/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; }
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body{
    font-family: Arial;
    width: 1280px;
}
.header{
    padding: 50px;
    background-color: #445162;
    display: flex;
    justify-content: space-between;
   align-items: center;
    height: 323px;
}
h1{
    font-size: 60px;
line-height: 1.2;
text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
color: #ffffff;
}
h2{
    text-align: center;
    font-size: 30px;
line-height: 36px;
color: #445161;
}
li{   
    background: url('../img/check_icon_346.png') 1px no-repeat;
    padding-left: 37px;
    font-size: 20px;
line-height: 36px;
text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
color: #ffffff;
}

.h2-left{text-align: left;}
.content-top{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 290px;
    background-color: #ffffff;
}
.flexbox{padding: 0px 70px 0px 40px;}

.content-center{
    background-color: #f5f5f5;
    height: 483px;
    padding-top: 45px;
}
.block-center{
    display: flex; 
    justify-content: center; 
}
.coloumn{
    padding-top: 30px;
    display: flex;
    align-items: flex-start;
}
 .text4{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    flex-basis:590px;
}

.text-center{padding-left: 15px;}

.content-bottom{
    height: 655px;
    padding:50px;
}
.block-bottom{
    display: flex;
    justify-content: center;
}
.block3{
    border-radius: 5px;
   padding:30px 23px 0px 23px;
    display: flex;
    flex-direction: column;
    max-width:300px;
    height: 500px;
    text-align: center;
}
.text-bottom{
    padding: 10px;
    flex:1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
line-height: 24px;
color: #ffffff;
background-color: #445162;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
}
.top{
    border-top-left-radius:5px;
border-top-right-radius:5px;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
background-color: #445162;
}
.top2{
    padding-top:15px;
    font-size: 40px;
    line-height: 30px;
    color: #445162;
height: 71px;
background-color: #ffffff;
border: 2px solid #445162;
}
.top3{
    padding-top: 10px;
    width: 230px;
height: 40px;
border-radius: 6px;
background-color: #ffffff;
}
.button-text{
    background-color: #ffffff;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
color: #445161;
}
h3{
    font-size: 24px;
line-height: 30px;
color: #445161;
}
p{
font-size: 16px;
line-height: 24px;
color: #333333;
}
.image-fri{
    width: 469px;
height: 214px;
background-color: #ffffff;
}
.img-video{
    width: 430px;
height: 186px;
background-color: #445161;
}
.img-grey{
    width: 200px;
height: 150px;
background-color: #ffffff;
}
.footer{
    background-color: #f5f5f5;
    text-align: center;
}